.about {
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 2rem 1rem; // Padding added for better spacing
  box-sizing: border-box; // Ensure padding is included in width calculations
max-width: 100%;
  .about-content {
    display: flex;
    flex-direction: row; // Stack vertically on smaller screens
    align-items: center; // Center-align items
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color:none;
    margin: 0 auto; // Center the container
  // Constrain width for larger screens

    .about-image {
      max-width: 500px;
      height: 300px; // Maintain aspect ratio
      border-radius: 8px;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
      margin-right: 15px;
    }

    .about-text {
      max-width: 100%;
      text-align: center; // Center-align text
      margin: 2rem 0;
      padding: 23px;


      h2 {
        font-size: 2rem; // Adjusted font size
        margin-bottom: 1rem;
        color: #333;
      }

      h3 {
        font-size: 1.5rem; // Adjusted font size
        margin-bottom: 1rem;
        color: #666;
      }

      p {
        font-size: 1rem; // Adjusted font size
        margin-bottom: 2rem;
        color: #555;
        line-height: 1.6rem; // Adjusted line height
      }
    }
  }

  .about-stats {
    display: flex;
    flex-wrap: wrap; // Allow items to wrap on smaller screens
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 100%; // Constrain width for larger screens
    margin: 0 auto; // Center the container

    .stat-item {
      text-align: center;
      flex: 1 1 200px; // Allow items to grow and shrink
      margin: 1rem;
      padding: 1rem;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #555;
      }
    }
  }

  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      text-align: center;

      .about-image {
        max-width: 90%;
        margin-bottom: 1rem;
      }

      .about-text {
        max-width: 100%;
        margin-left: 0;
      }
    }

    .about-stats {
      flex-direction: column;

      .stat-item {
        margin-bottom: 1rem;
        flex: 1 1 auto; // Allow flex items to grow and shrink
      }
    }
  }
}
